<div class = "side-bar-header">
  <div>
   <%= link_to current_user.name, edit_user_path(current_user), class:"side-title" %>
  </div>
  <div>
    <%= link_to "チャットを作成する", new_room_path, class:"chat-create" %>
  </div>
</div>
<div class = "rooms">
  <% @rooms.each do |room| %>
    <div class = "room">
      <%= link_to room.name, room_path(room) %>
    </div>
  <% end %>
</div>