<div class = "side-bar-header">
  <div>
   <%= link_to current_user.name, edit_user_path(current_user), class:"side-title" %>
  </div>
  <div class = "chat-create">"チャットを作成する"
  </div>
</div>
<div class = "rooms">
  <div class = "room">
  <a href="#">ルーム1</a>
  </div>
  <div class = "room">
  <a href="#">ルーム2</a>
  </div>
</div>